.java/
.lastStarted
com.cloudbees.hudson.plugins.folder.config.AbstractFolderConfiguration.xml
config.xml
hudson.model.UpdateCenter.xml
hudson.plugins.git.GitTool.xml
identity.key.enc
jenkins.install.UpgradeWizard.state
jenkins.telemetry.Correlator.xml
logs/
nodeMonitors.xml
plugins/
secret.key
secret.key.not-so-secret
secrets/
updates/
userContent/
users/
.config/
.owner
jobs/test-job/builds/1/
jobs/test-job/builds/2/
jobs/test-job/builds/3/
jobs/test-job/builds/4/
jobs/test-job/nextBuildNumber
queue.xml
workspace/
jobs/test-job/builds/permalinks
jobs/test-job/builds/permalinks
pom.xml

