.java/
.lastStarted
com.cloudbees.hudson.plugins.folder.config.AbstractFolderConfiguration.xml
config.xml
hudson.model.UpdateCenter.xml
hudson.plugins.git.GitTool.xml
identity.key.enc
jenkins.install.UpgradeWizard.state
jenkins.telemetry.Correlator.xml
logs/
nodeMonitors.xml
plugins/
secret.key
secret.key.not-so-secret
secrets/
updates/
userContent/
users/
